<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aubo_i5">
    <xacro:arg name="hardware_type" default="fake"/>
    <xacro:arg name="ros2_controllers_file" default="ros2_controllers.yaml"/>
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import aubo_i5 urdf file 机器人模型文件 -->
    <xacro:include filename="$(find robot_description)/urdf/aubo_i5_arm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="aubo_i5.ros2_control.xacro" />


    <xacro:aubo_i5_ros2_control name="control_system" initial_positions_file="$(arg initial_positions_file)" 
        hardware_type="$(arg hardware_type)" ros2_controllers_file="$(arg ros2_controllers_file)"/>

</robot>
