<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="aubo_i5_ros2_control" params="name initial_positions_file hardware_type ros2_controllers_file
        robot_ip enable_motion">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:if value="${hardware_type == 'fake'}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:if>
                <xacro:if value="${hardware_type == 'gazebo'}">
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </xacro:if>
                <xacro:if value="${hardware_type == 'real'}">
                    <plugin>aubo_i5_hardware/AuboI5System</plugin>
                    <param name="robot_ip">${robot_ip}</param>
                    <param name="rpc_port">30004</param>
                    <param name="rtde_port">30010</param>
                    <param name="connect_timeout_ms">1000</param>
                    <param name="command_timeout_ms">100</param>
                    <param name="max_command_velocity">0.20</param>
                    <param name="enable_motion">${enable_motion}</param>
                </xacro:if>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->

            </hardware>
            <joint name="shoulder_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="upperArm_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['upperArm_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="foreArm_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['foreArm_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist1_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist1_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist2_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist2_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist3_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist3_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
        <xacro:if value="${hardware_type == 'gazebo'}">
            <gazebo>
                <plugin filename="libgz_ros2_control-system.so"
                        name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                    <parameters>${ros2_controllers_file}</parameters>
                </plugin>
            </gazebo>
        </xacro:if>
    </xacro:macro>
</robot>
